<div class="modal fade" id="imageVeiwer" tabindex="-1" role="dialog" aria-labelledby="imageVeiwer" aria-hidden="true">
  <div class="modal-dialog centered" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <img src="" class="img-fluid">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" onClick="removeImage()">Delete</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade show" id="submitModal" data-backdrop="static" tabindex="-1" role="dialog" aria-modal="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="submitModal-content">
      <div class="modal-body d-flex align-items-center" style="min-height: 64px;">
        <strong id="submitModal-text">Submitting...</strong>
        <div class="spinner-border ml-auto" id="submitModal-spinner" role="status" aria-hidden="true"></div>
      </div>
      <div id="submitModal-footSuccess" style="display: none;" class="modal-footer">
        <button type="button" id="submitModal-formreset" class="btn btn-outline-secondary" data-dismiss="modal">Add Another</button>
        <button type="button" id="submitModal-moveon" class="btn btn-outline-success">View Object</button>
      </div>
      <div id="submitModal-footError" style="display: none;" class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        <button type="button" onClick="submitForm()" class="btn btn-outline-danger">Try Again</button>
      </div>
    </div>
  </div>
</div>

<form class="col-12 needs-validation"  id="form"  enctype="multipart/form-data" novalidate>

  <div class="alert alert-danger" role="alert" id="invalidIDAlert" style="display: None; opacity:0;">
    Invalid ID
  </div>

  <div class="form-group">
    <label for="title">Object Name</label>
    <input type="text" class="form-control" name="title" id="title" placeholder="Enter object title" value="{{item.title}}" required>
  </div>

  <div class="form-group">
    <label for="collection">Object Collection</label>
    <div class="form-control">
      <input class="typeahead" type="text" name="collection" id="collection" placeholder="Enter object collection" value="{{item.collection}}"></input>
    </div>
    <small class="form-text text-muted">
      Enter a single main collection. eg socks.
    </small>
  </div>

  <div class="form-group">
    <label>Materiality</label>
    <input class="materialinput typeahead" type="text" name="materials" id="materials" value=""/>

    <small class="form-text text-muted">
      Comma seperated tags for materiality and appearance.
    </small>
  </div>

  <div class="form-group">
    <label for="description">Object Description</label>
    <textarea type="text" rows="3" class="form-control" name="description" id="description" placeholder="Enter object description" required style="resize:none;">{{item.description}}</textarea>
    <small class="form-text text-muted">
      Please also use this space to let me know what other options you need?
    </small>
  </div>

  <label>Condition</label>
  <div class="form-row">
    <div class="form-group col-auto">
      <select class="form-control" id="condition" name="condition" default="Poor">
        <option>Excellent</option>
        <option>Good</option>
        <option>Poor</option>
        <option>Very Poor</option>
      </select>
    </div>
    <div class="form-group col">
      <input type="text" class="form-control" name="condition-long" id="condition-long" placeholder="Condition details" value="{{item.condition-long}}"></input>
    </div>
  </div>

  <label for="acquisitionmethod">Acquisition</label>
  <div class="form-row">
    <div class="form-group col-auto">
      <select class="form-control" id="acquisition-method" name="acquisition-method">
        <option>Purchased New</option>
        <option>Purchased Secondhand</option>
        <option>Gifted</option>
      </select>
    </div>
    <div class="form-group col">
      <input class="form-control" name="acquisition" value="{{item.acquisition}}" placeholder="Details">
      </input>
    </div>
    <div class="form-group col">
      <input class="form-control" name="acquisition-value" value="{{item.acquisition-value}}" placeholder="Price">
      </input>
    </div>
    <div class="form-group col">
      <input type="month" class="form-control" name="acquisition-date" value="{{item.dateAcquired}}" id="acquisition-date" placeholder="Date (YYYY-MM-DD)">
    </div>
  </div>


  <label>Value</label>
  <div class="form-row">
    <div class="form-group col">
      <input class="form-control-range custom-range" type="range" name="value" id="value" min="0" max="10" value="{{item.valueRanged}}"/>
      <small class="form-text text-muted">
        An arbitrary scale of value from 0 to 10.
      </small>
    </div>
    <div class="form-group col-auto">
      <input type="number" class="form-control" min=0 max=10 id="value-output" value="5"/>
    </div>
  </div>


  <div class="form-row">
    <div class="form-group col">
      <label>Tags</label>
      <input class="tagsinput" type="text" name="tags" id="tags" value="" data-role="tagsinput"/>
    </div>

    <div class="form-group col-auto">
      <label for="quantity">Quanitity</label>
      <input type="number" class="form-control" name="quantity" value="{{item.quantity}}" id="quantity">
    </div>
  </div>

  <div class="form-group">
    <label>Images</label><br/>
    <div class="form-control" id="imageThumbs"  style="display:flex;flex-wrap:wrap;max-height:300px;height:auto;min-height: 36px;overflow:scroll;">
        <span id="placeholder" class="text-muted" style="{{#if photos}}display: None;{{/if}}">No images. Add some below.</span>
        {{#each photos}}
          <div class="p-2 col-6 col-sm-4 col-md-3 col-lg-2">
            <img src="/api/v1/thumb/{{this.src}}" id="{{this.id}}" class="img-thumbnail" data-toggle="modal" data-target="#imageVeiwer" data-image="/api/v1/image/{{this.src}}" data-uploaded="true">
          </div>
        {{/each}}
    </div>
    <input type="file" name="photos" accept=".jpg,.png,.jpeg" id="imgupload" style="display: none;" multiple>
    <button type="button" onclick="$('#imgupload').trigger('click');" class="btn btn-outline-primary mt-2">Browse&hellip;</button>
  </div>

  <div class="form-group">
    <button type="button" id="submitForm" class="btn btn-outline-success">Submit</button>
  </div>

  <div class="alert alert-success" role="alert" id="successAlert" style="display: None; opacity:0;">
    {{submitAlert}}
  </div>
  <div class="alert alert-danger" role="alert" id="invalidForm" style="display: None; opacity:0;">
    Please add all required data!
  </div>


</form>

<script src="/js/add.js"></script>
