{{#if changelog}}{{> changelog show=showChangelog}}{{/if}}

<div class="alert alert-secondary" id="objectsShown" style="display:none;width:100%" role="alert">
</div>

<div class="alert alert-warning" id="noObjects" style="display:none;width:100%" role="alert">
No objects to show. Try <a href="/add" class="text-secondary">adding some.</a>
</div>

<div class="row" id="objectCards" style="width:100%">
  {{#each items}}
    <div class="card-container col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 m-0 p-0">
      <div class="card m-2" style="" id={{id}} tags="{{tags}}" collections="{{collection}}">
        {{#if assets}}
          <img src="/api/v1/thumb/{{assets.[0].src}}" class="card-img-top" style="max-height:200px;object-fit: cover;object-position: center;" alt="{{title}}">
        {{/if}}
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{title}}</h5>
          {{#unless assets.[0]}}
            <p>{{description}}</p>
          {{/unless}}
          <a href="/view/object/{{id}}" class="btn btn-block btn-outline-secondary mt-auto">Explore</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
    </div>
  {{/each}}
</div>

<script src="/js/home.js"></script>
