<form class="col-4 mx-auto"  id="loginForm" action="/login" method="post">
  <div class="alert alert-danger" role="alert" id="flashAlert" style="display: None; opacity:0;">
    {{flash}}
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" name="username" id="username" placeholder="Enter your username" required>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password" required>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-outline-success">Login</button>
  </div>

</form>

<script>
$(document).ready( function() {
  if("{{flash}}" != ""){
    $("#flashAlert").show().fadeTo(200,1);
  }
});
</script>
