
<div class="col-12 col-md-4 mb-3">
  <style>
    table, td{
      border: 1px solid black;
      border-collapse: separate;
      border-spacing: 5px;
    }
    table {
      border: none;
    }
    th, td {
      padding: 15px;
    }
    svg#barcode {
      width: 100%;
      height: auto;
      max-height: 125px;
    }
  </style>
  <script>
    window.onload = function () {
      JsBarcode("#barcode", "{{item.id}}", {
        displayValue: false,
        height:30,
        margin:0,
        font: "Helvetica Neue",
        format: "CODE39"
      });
    }
  </script>
  <table class="w-100">
    <tr id="title">
      <td colspan="2">
        <h2>{{item.title}}</h2>
      </td>
    </tr>

    {{#if item.collection}}
    <tr id="collection">
      <td>
        <strong>Collection: </strong>
      </td>
      <td>
        {{capitalize item.collection}}
      </td>
    </tr>
    {{/if}}

    <tr id="description">
      <td colspan="2">
        {{item.description}}
      </td>
    </tr>

    <tr id="acquisition">
      <td class="align-baseline">
        <strong>Acquisition: </strong>
      </td>
      <td>
        {{item.acquisition-method}}
        {{item.acquisition}}<br/>
        {{item.acquisition-date}}
      </td>
    </tr>

    <tr id="condition">
      <td class="align-baseline">
        <strong>Condition:</strong>
      </td>

      <td>
        {{item.condition}}</br>
        {{#if item.condition-long}}
        {{item.condition-long}}
        {{/if}}
      </td>
    </tr>

    <tr>
      <td>
        <strong>Value:</strong>
      </td>
      <td>
        {{item.value}}
      </td>
    </tr>

    <tr id="attributes">
      {{#if item.tags}}
        <td colspan="2">
          <span id="tags">
            {{#each item.tags}}
              <span class="badge badge-secondary">{{capitalize this}}</span>
            {{/each}}
          </span>
      {{/if}}
      {{#unless item.materials}}
        </td>
      {{/unless}}
      {{#if item.materials}}
          <span id="materials">
            {{#each item.materials}}
              <span class="badge badge-secondary">{{capitalize this}}</span>
            {{/each}}
          </span>
        </td>
      {{/if}}
      {{#unless item.tags}}
        </td>
      {{/unless}}
    </tr>
  </table>

  <div id="barcodeContainer" class="p-2">
    <svg id="barcode"></svg>
    <strong>Item ID:</strong> {{item.id}}
  </div>

  <a class="btn btn-outline-secondary mt-3" href="/add/{{item.id}}" role="button">Update</a>
</div>

<div class="col">
  {{#if photos}}
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {{#each photos}}
          <li data-target="#carousel" data-slide-to="{{@index}}" {{#unless @index}}class="active"{{/unless}}></li>
      {{/each}}
    </ol>
    <div class="carousel-inner">
      {{#each photos}}
          <div class="carousel-item{{#unless @index}} active{{/unless}}">
            <img src="/api/v1/image/{{this.src}}" class="d-block w-100">
          </div>
      {{/each}}
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  {{/if}}
</div>
