<!DOCTYPE html>
<html>
  <head lang="en">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/tagsinput/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="/tagsinput/bootstrap-tagsinput-typeahead.css">


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="/js/compressor.js"></script>
    <script src="/js/lodash.js"></script>
    <script src="/tagsinput/bootstrap-tagsinput.js"></script>
    <script src="/tagsinput/bootstrap-tagsinput-angular.js"></script>

    <script src="/JsBarcode/JsBarcode.all.min.js"></script>
    <title>Whole House Project</title>

  </head>
  <body class="container-fliud">

      {{> nav search=navSearch tags=tagList collections=collectionList}}
    <div class="row m-3">
      {{{body}}}
    </div>


    </body>
</html>
